{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <title>Iwork</title>

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/base1.css" %}">
        <link rel="stylesheet" href="{% static "fontawesome-free-5.8.1-web/css/fontawesome.min.css" %}">
        <link rel="stylesheet" href="{% static "DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css" %}"  />
    </head>
    <body data-spy="scroll" data-target=".navbar">
        <nav class="navbar navbar-expand-lg  navbar-default fixed-top">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="{% static "fontawesome-free-5.8.1-web/svgs/brands/wolf-pack-battalion.svg" %}">
            </a>
            <button
            type="button"
            class="navbar-toggler collapsed"
            data-toggle="collapse"
            data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <ol class="navbar-nav nav-pills mr-auto">
                    <li class="nav-item " ><a href="{% url "home" %}" class="nav-link">Home</a></li>
                    <li class="nav-item "><a href="{% url "home" %}" class="nav-link active"><span class="fa fa-user"></span>Notifications</a></li>
                    <li class="nav-item "><a href="{% url "home" %}" class="nav-link">Messages</a></li>
                    <li class="nav-item "><a href="{% url "home" %}" class="nav-link">Emails</a></li>
                </ol>
                <form id="search" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search....">
                    </div>
                </form>
                <ol class="navbar-nav pull-right  nav-pills">
                    <li class="nav-item dropdown">
                        <a 
                            href="#profile" 
                            class="nav-link dropdown-toggle"
                            data-toggle="dropdown"
                            role="button">
                            Profile
                            <!--<img src="{% static "fontawesome-free-5.8.1-web/svgs/regular/user.svg" %}" class="img-fluid" />-->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-user"></span>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-cogs" style="color: red"></span>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <span class="fa fa-sign-out" style="color: black"></span>
                                Logout
                            </a>
                        </div>
                    </li>
                </ol>
                <button id="tweet" class="btn btn-default pull-right">
                    Tweet
                </button>
                <ul class="navbar-nav" id="login-logout">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url "logout" %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Log-in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>  
        {% block content %} 
        {% endblock %}     
        <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static  "js/bootstrap.js" %}"></script>
        <script src="{% static "DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js" %}"></script>
        <script type="text/javascript">
        $(document).ready(function () {
            $('#file-table').DataTable();
        });
        </script>
    </body>
</html>