{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <section id="profile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <div id="profile-resume" class="card">
                        <img class="card-img-top img-fluid" src="{% static "images/profile.jpeg" %}" />
                        <div class="card-block">
                            <img src="{% static "images/photo-signup.jpeg" %}" class="card-img">
                            <h4 class="card-title">Jonny Doo <small>@jonnydoo</small></h4>
                            <p class="card-text">Dog goes woofy. Did you said quitly</p>
                            <ul class="list-inline list-unstyled">
                                <li id="card-tweets" class="list-inline-item">
                                    <a href="#">
                                        <span class="profile-status">Notifications</span>
                                        <span class="profile-value">99k</span>
                                    </a>
                                </li>
                                <li id="card-following" class="list-inline-item">
                                    <a href="#">
                                        <span class="profile-status">Files</span>
                                        <span class="profile-value">7</span>
                                    </a>
                                </li>
                                <li id="card-followers" class="list-inline-item">
                                    <a href="#">
                                        <span class="profile-status">Emails</span>
                                        <span class="profile-value">77k</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="profile-photo">
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item">
                                        <a href="#" class="thumbnail"><img class="img-fluid" src="{% static "images/booz.png" %}"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="thumbnail"><img class="img-fluid" src="{% static "images/photo-department.jpg" %}"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="thumbnail"><img class="img-fluid" src="{% static "images/photo-profile.jpg" %}"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="thumbnail"><img class="img-fluid" src="{% static "images/photo-profile1.jpeg" %}"></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="card">
                        <div class="card-header bg-info">
                            <h5 class="card-title">
                                Files
                            </h5>
                        </div>
                        <div class="card-block mt-2">
                            <table class="table table-stripped table-hover mt-3 mr-2" id="file-table">
                                <thead>
                                    <tr>
                                        <th class="bg-success">Name</th>
                                        <th class="bg-info">Created by</th>
                                        <th class="bg-danger">file</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for report in reports %}
                                    <tr>
                                        <td>{{ report.file_title }}</td>
                                        <td>{{ report.created_by }}</td>
                                        <td>{{ report.file }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3  d-md-block">
                    <div class="card" id="main-card">
                        <div class="card-header">
                            <h5 class="card-title">Emails & Notifications</h5>
                        </div>
                        <form id="new-message">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="What is happening">
                            </div>
                        </form>
                        <ul id="feed" class="list-unstyled">
                            <li>
                                <img src="{% static "images/profile-pic.jpg" %}" class="feed-avatar rounded-circle">
                                <div class="feed-post">
                                    <h5>Julian <small>@namex - 3h</small></h5>
                                    <p> Hello sir here is the report for codiv 19</p>
                                </div>
                            </li>
                            <li>
                                <img src="{% static "images/photo-login.jpeg" %}" class="feed-avatar rounded-circle">
                                <div class="feed-post">
                                    <h5>Laika <small>@spaceog - 4h</small></h5>
                                    <p>RE: Request for department transfer</p>
                                    <p>File: attachment</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}