{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
<div class="container" id="login-form">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="text-center card bg-light">
                <div class="card-header">
                    <h1 class="card-title">Log-in</h1>
                </div>
                <div class="card-block">
                    {% if form.erros %}
                        <p>
                            Your name and password didn't match
                            Please try again.
                        </p>
                    {% else %}
                    <p>Please, use the following form to log in. If you don't have an account <a href="{% url 'register'%}">register here.</a></p>
                    {% endif %}
                    <div class="Login-form">
                        <form action="{% url 'login' %}" method="POST" class="form-horizontal">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}" />
                            <p><input type="submit" value="Log-in"></p>
                        </form>
                        <p><a href="{% url "password_reset" %}">Forgotten your passworrd ? </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
