{% extends "base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
    <h1>Change your password</h1>
    <p>Use the form below to change your password </p>
    <form action="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="change"></p>
    </form>
{% endblock %}