.nowwarp {
    white-space: nowrap;
}
@media (max-width: 48em) {
    table .btn {
        font-size: 0.75rem;
        font-size: 3.5vw;
    }
}
header {
    background-color: #F8F8F8;
}
header ul {
    margin: 0;
}

nav form#search {
    float: right;
    padding: 0.5rem;
}
nav form#search .input-group .form-control {
    border-radius: 0.25em;
}

nav img {
    max-height: 2.3em;
    border-radius: 0.3em;
    background-color: #FFF;
}
#tweet {
    margin: 0.5rem;
    background-color: #FFF;
    color: black;
}

.navbar-default {
    background-color: rgb(6, 31, 46);
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
}
.navbar-default .navbar-nav > .active > a {
    background-color: #FFF;
    color: #FFF;
    padding-bottom: 10px;
    border-bottom: 5px solid #FFF;
}
header a, header li {
    padding: 1.4rem 0;
    color: #777;
    font-weight: bold;
}
.navbar-brand img {
    height: 100%;
    min-height: 3.0rem;
    min-width: 3.0rem;
}
section#intro-header {
    background-image: url(../images/photo-profile1.jpeg);
    background-size: cover;
}
section#intro-header .wrap-headline {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}
section#intro-header .wrap-headline #id_holder {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    left: 40%;
}
@media (max-width: 48em) {
    section#intro-header .wrap-headline {
        left: 0;
    }
}
section#intro-header h1,
section#intro-header h2 {
    color: #FFF;
}
section#intro-header h2 {
    font-size: 1.5rem;
}
section#intro-header hr {
    width: 10%;
    color: #FFF;
}
section#intro-header .btn-default {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}
section#about img {
    margin-top: 6.5rem;
    margin-bottom: 5rem;
}
section#about h3 {
    margin-top: 10rem;
}
section#features {
    background-color: #eef2f5;
    border-top: 0.1rem solid #e9e9e9;
    border-bottom: 0.1rem solid #e9e9e9;
}
section#features * {
    color: #657c8e;
}
section#features .feature {
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
}
footer {
    background-color: #191919;
    color: #ADADAD;
    margin-top: 3em;
}
footer h5,
footer img {
    margin-top: 5em;
    font-weight: bold;
}
footer address {
    margin-top: 5em;
    margin-bottom: 5em;
    color: #5A5A5A;
}
footer ul {
    margin-bottom: 5em;
}
footer address strong {
    color: #ADADAD;
    display: block;
    padding-bottom: 0.62em;
}
footer a {
    font-weight: 300;
    color: #5A5A5A;
}
footer a:hover {
    text-decoration: none;
    color: #FFF;
}
section#newsletter {
    border-top: 1px solid #E0E0E0;
    padding-top: 3.2em;
    margin-top: 2em;
}
section#newsletter form {
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 5.5em;
}
section#pricing .center-block {
    width: 90%;
}
.hidden-element {
    display: none;
}
.navbar .nav-item > .active {
    color: gray !important;
    text-decoration: underline;
}
.card img.card-img-top {
    width: 100%;
    border: 3px solid #FFF;
    border-radius: 0.4rem;
}
.card-block img.card-img {
    top: 50%;
    margin-top: -36px;
    width: 72px;
    border: 3px solid #FFF;
    border-radius: 0.4rem;
    float: left;
    position: relative;
    z-index: 99;
}
.card-block .card-title {
    float: left;
    margin: 0;
    margin-left: 0.5rem;
}
.card-block .card-title small {
    display: block;
}
.card-block .card-text {
    clear: both;
    padding-top: 0.25rem;
    margin-bottom: 1.5rem;
}
section#profile{
    margin-top: 7%;
}
#profile-photo {
    margin-top: 2rem;
}
#profile-photo ul {
    margin: 0;
}
form#new-message {
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 1em;
    border-bottom: 0.1em solid #CEE4F5;
}
ul#feed {
    margin: 0;
}
ul#feed li {
    padding: 1em 1em;
    border-bottom: 0.1rem solid #e5e5e5;
}
ul#feed .feed-avatar {
    width: 13%;
    display: inline-block;
    vertical-align: top;
}
ul#feed li:last-child {
    border-bottom: none;
}
ul#feed .feed-post {
    width: 80%;
    display: inline-block;
    margin-left: 2%;
}
ul#feed .feed-post h5 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
ul#feed .feed-post h5 > small {
    font-size: 1.2rem;
}
#login-form {
    position: relative;
    margin-top: 7%;
}
#login-logout > li > a{
    background-color: #FFF;
    color: black;
    border-radius: 0.5rem;
}