{% extends "base.html" %}
{% block title %}People{% endblock %}
{% block content %}
    <h1>People</h1>
    <div id="people-list">
        {% for user in users %}
        <div class="user">
            <img src="{{ user.profile.photo.url }}">
            <div class="info">
                <a href="{{ user.get_absolute_url }}" class="title">{{ user.get_full_name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
