{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard.
        You can <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change password</a>
    </p>
    {% with total_images_created=request.user.images_created.count %}
    <p>Welcome to your dashboard. You have bookmarked {{ total_images_created }} image {{ total_images_created |pluralize }}.</p>
    {% endwith %}
    <p>Drag the following button to your bookmarks toolbar to bookmark images from other websites >
        <a href="#" class="button">bookmark it</a>
    </p>
    <h2>What's happening</h2>
    <div id="action-list">
        {% for action in actions %}
            {% include "actions/action/detail.html" %}
        {% endfor %}
    </div>

{% endblock %}